<h2><%= @book.title %></h2>

<p>Author:
  <%= link_to @book.author.name,
              author_path(@book.author) %></p>

<p>
  <%= @book.description %>
</p>

<h3>Comments</h3>


<ul>
<% @book.comments.each do |cm| %>
  <li><%= cm.commenter %>: <%= cm.body %></li>
<% end %>
</ul>

<h2>Add a comment:</h2>
<%= form_with(model: [ @book, @book.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
