<h2>Guides Index</h2>

<ol>

  <hr>

  <li>
    <%= link_to 'Active Record Basics', guides_basics_path %>
  </li>

  <li>
    <%= link_to 'Active Record Migrations', guides_migrations_path %>
  </li>

  <li>
    <%= link_to 'Active Record Validations', guides_validations_path %>
  </li>

  <li>
    <%= link_to 'Active Record Callbacks', guides_callbacks_path %>
  </li>

  <li>
    <%= link_to 'Active Record Associations', guides_associations_path %>
  </li>

  <li>
    <%= link_to 'Active Record Interface', guides_interface_path %>
  </li>

  <li>
    <%= link_to 'Active Model Basics', guides_abasics_path %>
  </li>

  <hr>

  <li>
    <%= link_to 'Action View Overview', guides_viewover_path %>
  </li>

  <li>
    <%= link_to 'Layouts and Rendering in Rails', guides_layrender_path %>
  </li>

  <li>
    <%= link_to 'Action View Form Helpers', guides_viewform_path %>
  </li>

  <hr>

  <li>
    <%= link_to 'Action Controller Overview', guides_ocontroller_path %>
  </li>

  <li>
    <%= link_to 'Rails Routing', guides_rrout_path %>
  </li>

  <hr>

</ol>
